<?php
define('DB_NAME', 'dbName');

/** MySQL database username */
define('DB_USER', 'dbUserName');

/** MySQL database password */
define('DB_PASSWORD', 'dbPwd');

/** MySQL hostname */
define('DB_HOST', 'localhost');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');
 
/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/** Site root is needed to be able to download file using cURL from the local website. (File access not available by one.com hosting) */
define('SITE_ROOT','http://localhost');

/** User credentials of toernooi.nl user with enough credentials to download CSV from PBO competition */
define('PROV_USERNAME','toernooiNlUserName');
define('PROV_PWD','toernooiNlPwd');

/** toernooi.nl related data */
define('PB_COMPETITIE_ID','EF6D253B-4410-4B4F-883D-48A61DDA350D');
define('PB_COMPETITIE_START_DAY','20140801');
define('PB_COMPETITIE_END_DAY','20150731');
define('PROV_ID','638D0B55-C39B-43AB-8A9D-D50D62017FBE');
define('PROV_GID','3825E3C5-1371-4FF6-94AF-C4A3B152802A');			
