# Created by .ignore support plugin (hsz.mobi)
.idea/*
lf_db/data/tmp/*
lf_db/data/tmp.*/*
lf_db/backup/*
thomasdekeyser.pem
lf_db/load_scripts/secret.cfg.gentse
lf_db/load_scripts/secret.cfg.pbo
phpinfo.php